h1, h2, p, th, td, td.sessions a {
  font-family: helvetica;
  text-align: center;
}
a {
  color: inherit;
}
table, tr, td, th {
  border: 1px solid;
  border-collapse: collapse;
}
th {
  width: 20vw;
}
th {
  max-width: 150px;
}
td.sessions a {
  text-decoration: none;
}
td.sessions a div, td.editing div, td.break-heading {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
td.sessions {
  transition: .25s ease;
}
td.easter-egg {
  animation-name: rotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
td.valid:hover, td.valid#current:hover {
  background-color: lightgrey !important;
}
td.valid:active, td.valid#current:active {
  background-color: grey !important;
}
td.editing {
  transition: .25s ease;
}
td.editing:hover {
  background-color: grey;
  cursor: pointer;
}
td#current, .currentHeadings {
  background-color: grey;
  font-weight: bold;
}
input[type="text"] {
  border: 0;
}
h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
p#date {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
}
textarea.notes {
  resize: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin: 0;
  color: white;
  width: 100%;
}