body {
  background-color: black
}
h1, h2, p, a, td {
  color: white
}
table, tr, td {
  border-color: white
}
td.valid {
  transition: .25s ease
}
td.valid:hover, td.valid#active:hover {
  background-color: lightgrey;
}
td#active {
  background-color: grey;
}
input {
  color: black
}
input:hover {
  background-color: lightgrey;
}
table, tr, td {
  border: 1px solid;
}

h1, h2, p, a, td {
  font-family: helvetica;
}
input {
  border-collapse: collapse;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: .25s ease;
}
div#periods > input {
  width: 15vw;
  max-width: 120px;
}
div#subjects > input {
  width: 20vw;
  max-width: 150px;
}
textarea#codeOutput {
  text-align: center;
  width: 50vw;
  max-width: 50vw;
  height: 10vh
}
button {
  color: black
}
table, tr, td {
  border-collapse: collapse;
  text-align: center;
}
td {
  width: 20vw;
  max-width: 150px;
}
td.extended {
  max-width: 200px
}
td#sidebar {
  width: 3vw;
}
tr.break td {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
td a div {
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: .25s ease;
}
a {
  text-decoration: none
}

p#weekend {
  display: none
}
